.card {
  width: 250px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #111111;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
  color: rgb(252, 251, 251);
}

.title {
  text-transform: capitalize;
}

.image {
  width: 150px;
  }